<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL SHORTNER</h1>
    <!--  the data which comes form backend is in locals -->
    <% if (locals.id) { %>    
        <p>Url generated: http://localhost:5001/url/<%= id %></p>
    <% } %> 
    <div>
        <form method = "post" action = "/url"> 
            <!-- action tells the browser where to send the form data after the user clicks Submit.
            "/user" is the URL (route) where the data will go. -->
            <label>Enter your URL</label>
            <input type = "text" name = "url" placeholder="https://example.com" />
            <button type="submit">Generate</button>
        </form>
    </div>
    <div>
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <tr>
                    <th>S.No.</th>
                    <th>Short Url</th>
                    <th>Redirect link</th>
                    <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% urls.forEach((url,index) => { %>
                        <tr>
                        <td><%= index+1 %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectUrl %></td>
                        <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>

</body>
</html>